body {
  margin: 0;
  font-family: Arial;
  background: #0f172a;
  color: white;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: #020617;
}

.nav a {
  margin-left: 15px;
  color: white;
  text-decoration: none;
}

.hero {
  text-align: center;
  padding: 100px 20px;
}

button {
  padding: 10px 20px;
  background: #38bdf8;
  border: none;
  cursor: pointer;
}

.card {
  background: #1e293b;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
}